* {
    font-family: 'Rubik', sans-serif
}

body {
    margin: 0;
    padding: 0
}

button {
    background: none;
    border: 0;
    color: white;
    cursor: pointer;
    padding-left: 15px
}

iframe {
    border: 0;
    left: 30px;
    margin: auto;
    padding: 19px
}

a:hover {
    text-decoration: none
}

.T {
    font-family: 'Rubik', sans-serif
}

.T2 {
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    margin-bottom: 26px
}

.email {
    margin: 8px;
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-bottom: 1px;
    font-size: 17px;
}

.header {
    display: flex;
    height: 70px;
    z-index: 20;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    background: black
}

/* r */

.logo {
    height: 100%;
    display: flex;
    align-items: center
}

.logo img {
    height: 89%;
    margin: -3px;
    cursor: pointer
}

.menu ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    margin-top: 9px;
}

.rel {
    position: relative
}

.menu li {
    padding-left: 20px
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 15px
}

.aviso1 {
    position: absolute;
    top: 28%;
    left: 19%
}

.Slider {
    top: 65px
}

.mySlides {
    top: 65px
}

.mySlides h2 {
    margin: 0;
    color: white;
    font-size: 4.5vw;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Hammersmith One', sans-serif
}

.aviso1 p {
    color: #fff;
    font-size: 1.6vw;
    margin-top: 0;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 2px 2px 4px #000
}

.button_aviso1 {
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(to left, #fe344e, #ff7250);
    text-decoration: none
}

.button_avisou {
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 7px 12px;
    margin: 13px;
    cursor: pointer;
    font-size: 18px;
    background: #6e93ff;
    text-decoration: none
}

.button_avisou2 {
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 7px 12px;
    margin: 13px;
    cursor: pointer;
    font-size: 18px;
    background: #dc395d;
    text-decoration: none
}

.button_avisou3 {
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 7px 12px;
    margin: 13px;
    cursor: pointer;
    zzfont-size: 18px;
    background: #dc395d;
    text-decoration: none
}

.aviso2 {
    position: absolute;
    top: 24%;
    left: 19%
}

.aviso2 p {
    color: #fff;
    font-size: 1.6vw;
    margin-top: 0;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 2px 2px 4px #000
}

.button_aviso2 {
    background-color: -webkit-linear-gradient(to left, #30882ffa, #81cc73);
    background-color: -moz-linear-gradient(to left, #30882ffa, #81cc73);
    background-color: -ms-linear-gradient(to left, #30882ffa, #81cc73);
    background-color: -o-linear-gradient(to left, #30882ffa, #81cc73);
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(to left, rgba(48, 136, 47, 0.98), rgb(129, 204, 115));
    text-decoration: none
}

.aviso3 {
    position: absolute;
    top: 24%;
    left: 19%
}

.aviso3 p {
    color: #fff;
    font-size: 1.6vw;
    margin-top: 0;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 2px 2px 4px #000
}

.button_aviso3 {
    border-radius: 12px;
    border: 0;
    color: white;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 18px;
    background: linear-gradient(to left, #6b1633, #F44336);
    text-decoration: none
}

.aviso4 {
    position: absolute;
    top: 24%;
    left: 50%;
}

.aviso4 p {
    color: #fff;
    font-size: 1.6vw;
    margin-top: 0;
    font-family: 'Hammersmith One', sans-serif;
    text-shadow: 2px 2px 4px #000
}

.Productos {
    display: flex;
    justify-content: center
}

.Productos h1 {
    font-family: 'Hammersmith One', sans-serif
}

.luis {
    top: 65px;
    position: relative
}

.Productos1 {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    flex-wrap: wrap
}

.Productos1 {
    text-align: center
}

.Category img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #5a0606;
    box-shadow: 2px 3px 1px 0 lightsteelblue;
    cursor: pointer;
    margin: 13px 0
}

.Category img:hover {
    transform: scale(1.09);
    transition: 1s
}

.About {
    background: linear-gradient(to bottom right, #7c203f, #2f4e9a);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center
}

.About img {
    height: 212px
}

.AboutP {
    margin: 38px;
    width: 300px;
    text-align: center;
    color: white;
    padding-left: 43px
}

.AboutP p {
    font-size: 15px;
    margin-bottom: 27px
}

.fila {
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.fila img {
    height: 247px
}

.Juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #bdbdbd;
    padding: 22px 120px
}

.Juego {
    border: 1px solid rgb(173, 173, 173);
    text-align: center;
    padding-bottom: 5px
}

.Juego img {
    padding: 10px;
    height: 260px;
    cursor: pointer
}

.Juego h4 {
    border-top: 1px solid #b5b5b54a;
    padding: 13px 13px 0 13px
}

.Juego p {
    color: #5f5f5f
}

.Juegos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #bdbdbd;
    padding: 30px 120px
}

.Juego2 {
    border: 1px solid rgb(173, 173, 173);
    text-align: center;
    padding-bottom: 5px;
    overflow: hidden
}

.Juego2 img {
    height: 206px;
    cursor: pointer
}

.Juego2 h4 {
    padding: 13px 13px 0 13px
}

.Juego2 p {
    color: #5f5f5f;
    padding: 0 15px
}

.w {
    width: 248px
}

.compra {
    background: #6e93ff;
    padding: 4px 9px 3px 7px;
    font-size: 18px;
    border-radius: 50%;
    color: white
}

.calendar {
    background: #f54e4e;
    padding: 4px 10px;
    font-size: 20px;
    border-radius: 50%;
    margin: 7px;
    color: white
}

.cc {
    color: #f54e4e
}

.cc2 {
    color: #5380c5
}

.price {
    color: #4ec3fd;
    font-size: 18px;
    pointer-events: none
}

.centrado {
    display: flex;
    position: relative;
    justify-content: center
}

.Mensaje {
    text-align: center;
    background: lightblue;
    padding: 40px
}

.Opinion {
    display: flex;
    justify-content: center;
    align-items: center
}

.comment {
    background: #5380c5;
    padding: 4px 9px;
    font-size: 18px;
    border-radius: 50%;
    color: white;
    margin-left: 35px;
    margin-right: 8px
}

.m0 {
    margin: 0;
    text-align: center;
    color: white;
    padding: 10px
}

.Articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 120px
}

.Articulo {
    text-align: center;
    padding-bottom: 5px;
    overflow: hidden;
    background: rgba(62, 60, 60, 0.5882352941176471);
}

.Articulo h4 {
    padding: 13px 13px;
    color: white;
    border-bottom: 1px solid #ffffff42;
}

.Articulo p {
    color: white;
    padding: 0 15px
}

.pink {
    background: linear-gradient(to right, #7c203f, #2f4e9a)
}

.pink h1 {
    margin: 0
}

.ftext {
    display: inline-flex;
    padding: 0 10px
}

.precioU {
    display: flex;
    justify-content: center
}

.precioU p {
    padding: 0
}

.dollar {
    font-weight: bold;
    font-size: 27px;
    margin: 0
}

.cent {
    margin-top: 0;
    margin-left: 0
}

.since {
    margin-right: 8px
}

.mu2 {
    margin: 17px
}

.contacto {
    background: linear-gradient(to top, #0c0c29, #03164e);
    display: flex;
    flex-wrap: wrap
}

.contactinfo {
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-bottom: 30px;
    flex-direction: column;
    text-align: center
}

.white {
    color: white
}

.fa-phone:before {
    content: "\f095";
    margin-right: 11px;
    color: white;
    padding: 6px 6px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer
}

.carousel-inner {
    background: linear-gradient(to left, #7c203f, #2f4e9a);
}

.item {
    text-align: center;
    height: 300px
}

.h2u {
    margin: 0;
    color: #fff;
    padding-top: 80px;
    font-size: 30px
}

.bi {
    background-image: rgba(254, 252, 255, 0)
}

.left1 {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x
}

.right1 {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0)0, rgba(0, 0, 0, 0)100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0)0, rgba(0, 0, 0, 0)100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0)0, rgba(0, 0, 0, 0)100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x
}

.carousel-control2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5
}

.glyphicon-chevron-right2 {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px
}

.glyphicon2 {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.buttonU {
    background: rgb(154, 49, 49);
    margin: -4px 0 0 9px;
    padding: 4px 8px;
    border: 0;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.buttonU:hover {
    transform: scale(1.07);
    transition: all .8s;
}

.hoversito:hover:not(.active) {
    cursor: pointer;
    transition: 0
}

.hoversito.active {
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.hoversito:hover {
    opacity: .8;
}

#materialbox-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #292929;
    z-index: 1000;
    will-change: opacity
}

.carousel-control2:focus,
.carousel-control2:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9
}

#slideshow {
    margin: 0 160px 0 52px;
    position: relative;
    width: 240px;
    height: 240px
}

#slideshow>div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px
}

.hoversito:hover:not(.active) {
    opacity: .8
}

#burguer {
    display: none;
}

.busquedac {
    display: flex;
}

.busqueda {
    background: whitesmoke;
}

#placeholder.active {
    width: 10%;
}

#placeholder {
    padding: 3px 0;
    top: 53.5%;
    position: absolute;
    transition: .3s;
    border: none;
    width: 0;
}

#botoncito {
    align-items: center;
    font-size: 1vh;
    background: white;
    display: flex;
    color: grey;
    justify-content: center;
    padding: 3%;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

#botoncito:hover {
    background: grey;
    color: white;
    transition: .6s;
}

.BuscarR {
    display: none;
}

#busqueda2 {
    position: absolute;
    background: black;
    display: none;
}

#busqueda2.active {
    background: rgba(26, 26, 35, 0.9);
    color: rgb(0, 0, 0);
    border: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 21;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder2 {
    font-size: 2vh;
    background: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px 0 0 8px;
}

#cerrar {
    font-size: 10vw;
    position: absolute;
    top: 50px;
    color: white;
    left: 87px;
}

@media screen and (max-width:900px) {
    #burguer {
        display: initial;
        color: white;
        padding: 9px;
        font-size: 48px;
        z-index: 21;
    }
    #close {
        display: initial;
        color: white;
        padding: 9px 0;
        font-size: 48px;
        z-index: 21;
    }
    .menu {
        background: black;
        position: absolute;
        font-size: 89px;
        line-height: 114px;
        padding: 20px;
        right: -100%;
        top: 0;
        transition: .2s;
        flex-direction: row;
        cursor: pointer;
    }
    .menu ul {
        display: table;
        margin-bottom: 10px;
        padding: 0;
    }
    .menu li {
        padding-left: 20px;
        border-bottom: 1px solid white;
    }
    .menu a {
        font-size: 34px;
    }
    .menu.active {
        right: 0;
    }
    .header {
        justify-content: space-between;
        padding: 0 24px;
    }
    .email {
        display: none;
    }
    .logo {
        justify-content: start;
        height: 66px;
    }
    .logo img {}
    .buttonU {
        display: none
    }
    .BuscarR {
        display: inherit;
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .Juego {
        margin: 10px
    }
    .Juego2 {
        margin: 10px
    }
    .Articulo {
        margin: 10px
    }
}

.xs1 {
    width: 8.33%
}

.separador-xs1 {
    margin-left: 8.33%
}

.xs2 {
    width: 16.66%
}

.separador-xs2 {
    margin-left: 16.66%
}

.xs3 {
    width: 24.99%
}

.separador-xs3 {
    margin-left: 24.99%
}

.xs4 {
    width: 33.32%
}

.separador-xs4 {
    margin-left: 33.32%
}

.xs5 {
    width: 41.65%
}

.separador-xs5 {
    margin-left: 41.65%
}

.xs6 {
    width: 49.98%
}

.separador-xs6 {
    margin-left: 49.98%
}

.xs7 {
    width: 58.31%
}

.separador-xs7 {
    margin-left: 58.31%
}

.xs8 {
    width: 66.64%
}

.separador-xs8 {
    margin-left: 66.64%
}

.xs9 {
    width: 74.97%
}

.separador-xs9 {
    margin-left: 74.97%
}

.xs10 {
    width: 83.3%
}

.separador-xs10 {
    margin-left: 83.3%
}

.xs11 {
    width: 91.63%
}

.separador-xs11 {
    margin-left: 91.63%
}

.xs12 {
    width: 99.96%
}

.separador-xs12 {
    margin-left: 99.96%
}

@media screen and (min-width:568px) {
    .s1 {
        width: 8.33%
    }
    .separador-s1 {
        margin-left: 8.33%
    }
    .s2 {
        width: 16.66%
    }
    .separador-s2 {
        margin-left: 16.66%
    }
    .s3 {
        width: 24.99%
    }
    .separador-s3 {
        margin-left: 24.99%
    }
    .s4 {
        width: 33.32%
    }
    .separador-s4 {
        margin-left: 33.32%
    }
    .s5 {
        width: 41.65%
    }
    .separador-s5 {
        margin-left: 41.65%
    }
    .s6 {
        width: 49.98%
    }
    .separador-s6 {
        margin-left: 49.98%
    }
    .s7 {
        width: 58.31%
    }
    .separador-s7 {
        margin-left: 58.31%
    }
    .s8 {
        width: 66.64%
    }
    .separador-s8 {
        margin-left: 66.64%
    }
    .s9 {
        width: 74.97%
    }
    .separador-s9 {
        margin-left: 74.97%
    }
    .s10 {
        width: 83.3%
    }
    .separador-s10 {
        margin-left: 83.3%
    }
    .s11 {
        width: 91.63%
    }
    .separador-s11 {
        margin-left: 91.63%
    }
    .s12 {
        width: 99.96%
    }
    .separador-s12 {
        margin-left: 99.96%
    }
}

@media screen and (min-width:768px) {
    .m1 {
        width: 8.33%
    }
    .separador-m1 {
        margin-left: 8.33%
    }
    .m2 {
        width: 16.66%
    }
    .separador-m2 {
        margin-left: 16.66%
    }
    .m3 {
        width: 24.99%
    }
    .separador-m3 {
        margin-left: 24.99%
    }
    .m4 {
        width: 33.32%
    }
    .separador-m4 {
        margin-left: 33.32%
    }
    .m5 {
        width: 41.65%
    }
    .separador-m5 {
        margin-left: 41.65%
    }
    .m6 {
        width: 49.98%
    }
    .m6u {
        width: 50.98%;
        margin-bottom: 40px
    }
    .separador-m6 {
        margin-left: 49.98%
    }
    .m7 {
        width: 58.31%
    }
    .separador-m7 {
        margin-left: 58.31%
    }
    .m8 {
        width: 66.64%
    }
    .separador-m8 {
        margin-left: 66.64%
    }
    .m9 {
        width: 74.97%
    }
    .separador-m9 {
        margin-left: 74.97%
    }
    .m10 {
        width: 83.3%
    }
    .separador-m10 {
        margin-left: 83.3%
    }
    .m11 {
        width: 91.63%
    }
    .separador-m11 {
        margin-left: 91.63%
    }
    .m12 {
        width: 99.96%
    }
    .separador-m12 {
        margin-left: 99.96%
    }
}

@media screen and (min-width:1024px) {
    .l1 {
        width: 8.33%
    }
    .separador-l1 {
        margin-left: 8.33%
    }
    .l2 {
        width: 16.66%
    }
    .separador-l2 {
        margin-left: 16.66%
    }
    .l3 {
        width: 24.99%
    }
    .l3u {
        width: 23.99%
    }
    .l3u2 {
        width: 27%
    }
    .separador-l3 {
        margin-left: 24.99%
    }
    .l4 {
        width: 33.32%
    }
    .separador-l4 {
        margin-left: 33.32%
    }
    .l5 {
        width: 41.65%
    }
    .separador-l5 {
        margin-left: 41.65%
    }
    .l6 {
        width: 49.98%
    }
    .separador-l6 {
        margin-left: 49.98%
    }
    .l7 {
        width: 58.31%
    }
    .separador-l7 {
        margin-left: 58.31%
    }
    .l8 {
        width: 66.64%
    }
    .separador-l8 {
        margin-left: 66.64%
    }
    .l9 {
        width: 74.97%
    }
    .separador-l9 {
        margin-left: 74.97%
    }
    .l10 {
        width: 83.3%
    }
    .separador-l10 {
        margin-left: 83.3%
    }
    .l11 {
        width: 91.63%
    }
    .separador-l11 {
        margin-left: 91.63%
    }
    .l12 {
        width: 99.96%
    }
    .separador-l12 {
        margin-left: 99.96%
    }
}

@media screen and (min-width:1280px) {
    .xl1 {
        width: 8.33%
    }
    .separador-xl1 {
        margin-left: 8.33%
    }
    .xl2 {
        width: 16.66%
    }
    .separador-xl2 {
        margin-left: 16.66%
    }
    .xl3 {
        width: 24.99%
    }
    .separador-xl3 {
        margin-left: 24.99%
    }
    .xl4 {
        width: 33.32%
    }
    .separador-xl4 {
        margin-left: 33.32%
    }
    .xl5 {
        width: 41.65%
    }
    .separador-xl5 {
        margin-left: 41.65%
    }
    .xl6 {
        width: 49.98%
    }
    .separador-xl6 {
        margin-left: 49.98%
    }
    .xl7 {
        width: 58.31%
    }
    .separador-xl7 {
        margin-left: 58.31%
    }
    .xl8 {
        width: 66.64%
    }
    .separador-xl8 {
        margin-left: 66.64%
    }
    .xl9 {
        width: 74.97%
    }
    .separador-xl9 {
        margin-left: 74.97%
    }
    .xl10 {
        width: 83.3%
    }
    .separador-xl10 {
        margin-left: 83.3%
    }
    .xl11 {
        width: 91.63%
    }
    .separador-xl11 {
        margin-left: 91.63%
    }
    .xl12 {
        width: 99.96%
    }
    .separador-xl12 {
        margin-left: 99.96%
    }
}

@media screen and (max-width:1120px) {
    .Juego img {
        width: 18vw;
    }
}

@media screen and (max-width:1023px) {
    .Juego img {
        width: auto;
    }
}