*{
  font-family: 'Rubik', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-left: 15px;
}

.T{
  font-family: 'Rubik', sans-serif;
}
.header{
display: flex;
height: 65px;
z-index: 1;
position: fixed;
width: 100%;
justify-content: space-around;
background: black;
}


.logo{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img{
  height: 89%;
  margin: -3px;
  cursor: pointer;
}

.menu ul{
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 9px;
}

.email{
  margin: 8px;
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-bottom: 1px;
  font-size: 17px;
}
.rel{position: relative;}
.menu li{
  padding-left: 20px;
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.aviso1{
  position: absolute;
  top: 28%;
  left: 19%;
}

.Slider{
  top: 65px;
}
.mySlides{
  top: 65px;
}
.mySlides h2{
 margin: 0;
color: white;
font-size: 4.5vw;
-webkit-text-stroke: 2px #000000b0;
font-family: 'Hammersmith One', sans-serif;
}

.aviso1 p{
  color: #ffffff;
      font-size: 1.6vw;
      margin-top: 0;
      font-family: 'Hammersmith One', sans-serif;
      text-shadow: 2px 2px 4px #000000;
}

.button_aviso1{
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
  text-decoration: none;
}

.button_avisou{
  border-radius: 12px;
  border: none;
  color: white;
  padding: 7px 12px;
  margin: 13px;
  cursor: pointer;
  font-size: 18px;
  background: #6e93ff;
  text-decoration: none;
}
.aviso2{
  position: absolute;
  top: 24%;
  left: 19%;
}

.aviso2 p{
  color: #ffffff;
 font-size: 1.6vw;
 margin-top: 0;
 font-family: 'Hammersmith One', sans-serif;
 text-shadow: 2px 2px 4px #000000;
}


.button_aviso2{
 border-radius: 12px;
 border: none;
 color: white;
 padding: 7px 12px;
 cursor: pointer;
 font-size: 18px;
 background: linear-gradient(to left, #30882ffa, #81cc73);
 text-decoration: none;
}

.aviso3{
  position: absolute;
  top: 24%;
  left: 19%;
}

.aviso3 p{
  color: #ffffff;
      font-size: 1.6vw;
      margin-top: 0;
      font-family: 'Hammersmith One', sans-serif;
      text-shadow: 2px 2px 4px #000000;
}

.button_aviso3{
 border-radius: 12px;
 border: none;
 color: white;
 padding: 7px 12px;
 cursor: pointer;
 font-size: 18px;
 background: linear-gradient(to left, #6b1633, #F44336);
 text-decoration: none;
}

.aviso4{
  position: absolute;
  top: 24%;
  left: 55%;
}

.aviso4 p{
  color: #ffffff;
      font-size: 1.6vw;
      margin-top: 0;
      font-family: 'Hammersmith One', sans-serif;
      text-shadow: 2px 2px 4px #000000;
}

.Productos{
 display: flex;
 justify-content: center;
}

.Productos h1{
 font-family: 'Hammersmith One', sans-serif;
}
.luis{
  top: 65px;
  position: relative;
}
.Productos1{
  display: flex;
  justify-content: space-around;
  padding: 30px 120px;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  flex-wrap: wrap;
}

.Productos1{
  text-align: center;
}
.Category img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #5a0606;
  box-shadow: 2px 3px 1px 0px lightsteelblue;
  cursor: pointer;
}

.Category img:hover{
  transform: scale(1.09);
  transition: 1s;
}

.About{
  height: 320px;
  background: #111138;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About img{
  height: 212px;
}

.AboutP{
  text-align: center;
  color: white;
  padding-left: 43px;
}

.AboutP p{
 font-size: 15px;
}
.fila{
  display: flex;
  overflow: hidden;
  flex-direction: row;
  margin-left: -120px;
}
.fila img{
  height: 247px;
}


.Juegos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #bdbdbd;
  padding: 30px 120px;
}


.Juego{
  border: 1px solid #b5b5b5;
  text-align: center;
  padding-bottom: 5px;
}
.Juego img{
  padding: 10px;
  height: 260px;
  cursor: pointer;
}
.Juego h4{
  border-top: 1px solid #b5b5b5;
  padding: 13px 13px 0px 13px;
}

.Juego p{
  color: #5f5f5f;
}
.Juegos2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #bdbdbd;
  padding: 30px 120px;
}

.Juego2{
  border: 1px solid #b5b5b5;
  text-align: center;
  padding-bottom: 5px;
  overflow: hidden;
}
.Juego2 img{
  height: 206px;
  cursor: pointer;
}
.Juego2 h4{
  padding: 13px 13px 0px 13px;
}

.Juego2 p{
  color: #5f5f5f;
  padding: 0 15px; 
}



.w{width: 248px;}
.compra{
  background: #6e93ff;
  padding: 4px 9px 3px 7px;
  font-size: 18px;
  border-radius: 50%;
  color: white;
}

.calendar{
  background: #f54e4e;
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 50%;
  margin: 7px;
  color: white;
}

.cc{
 color: #f54e4e;
}
.cc2{
  color: #5380c5;
}
.price {
  color: #4ec3fd;
  font-size: 18px;
  pointer-events: none;
}

.centrado {
  display: flex;
  position: relative;
  justify-content: center;}

 .Mensaje{
   text-align: center;
   background: lightblue;
   padding: 40px;
 }

.Opinion{
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment{
  background: #5380c5;
  padding: 4px 9px 3px 7px;
  font-size: 18px;
  border-radius: 50%;
  color: white;
  margin-left: 35px;
  margin-right: 8px;
}




















.xs1 {
  width: 8.33%; }

.separador-xs1 {
  margin-left: 8.33%; }

.xs2 {
  width: 16.66%; }

.separador-xs2 {
  margin-left: 16.66%; }

.xs3 {
  width: 24.99%; }

.separador-xs3 {
  margin-left: 24.99%; }

.xs4 {
  width: 33.32%; }

.separador-xs4 {
  margin-left: 33.32%; }

.xs5 {
  width: 41.65%; }

.separador-xs5 {
  margin-left: 41.65%; }

.xs6 {
  width: 49.98%; }

.separador-xs6 {
  margin-left: 49.98%; }

.xs7 {
  width: 58.31%; }

.separador-xs7 {
  margin-left: 58.31%; }

.xs8 {
  width: 66.64%; }

.separador-xs8 {
  margin-left: 66.64%; }

.xs9 {
  width: 74.97%; }

.separador-xs9 {
  margin-left: 74.97%; }

.xs10 {
  width: 83.3%; }

.separador-xs10 {
  margin-left: 83.3%; }

.xs11 {
  width: 91.63%; }

.separador-xs11 {
  margin-left: 91.63%; }

.xs12 {
  width: 99.96%; }

.separador-xs12 {
  margin-left: 99.96%; }

@media screen and (min-width: 568px) {
  .s1 {
    width: 8.33%; }

  .separador-s1 {
    margin-left: 8.33%; }

  .s2 {
    width: 16.66%; }

  .separador-s2 {
    margin-left: 16.66%; }

  .s3 {
    width: 24.99%; }

  .separador-s3 {
    margin-left: 24.99%; }

  .s4 {
    width: 33.32%; }

  .separador-s4 {
    margin-left: 33.32%; }

  .s5 {
    width: 41.65%; }

  .separador-s5 {
    margin-left: 41.65%; }

  .s6 {
    width: 49.98%; }

  .separador-s6 {
    margin-left: 49.98%; }

  .s7 {
    width: 58.31%; }

  .separador-s7 {
    margin-left: 58.31%; }

  .s8 {
    width: 66.64%; }

  .separador-s8 {
    margin-left: 66.64%; }

  .s9 {
    width: 74.97%; }

  .separador-s9 {
    margin-left: 74.97%; }

  .s10 {
    width: 83.3%; }

  .separador-s10 {
    margin-left: 83.3%; }

  .s11 {
    width: 91.63%; }

  .separador-s11 {
    margin-left: 91.63%; }

  .s12 {
    width: 99.96%; }

  .separador-s12 {
    margin-left: 99.96%; } }
@media screen and (min-width: 768px) {
  .m1 {
    width: 8.33%; }

  .separador-m1 {
    margin-left: 8.33%; }

  .m2 {
    width: 16.66%; }

  .separador-m2 {
    margin-left: 16.66%; }

  .m3 {
    width: 24.99%; }

  .separador-m3 {
    margin-left: 24.99%; }

  .m4 {
    width: 33.32%; }

  .separador-m4 {
    margin-left: 33.32%; }

  .m5 {
    width: 41.65%; }

  .separador-m5 {
    margin-left: 41.65%; }

  .m6 {
    width: 49.98%; }
  .m6u{
    width: 50.98%;
    margin-bottom: 40px;
  }

  .separador-m6 {
    margin-left: 49.98%; }

  .m7 {
    width: 58.31%; }

  .separador-m7 {
    margin-left: 58.31%; }

  .m8 {
    width: 66.64%; }

  .separador-m8 {
    margin-left: 66.64%; }

  .m9 {
    width: 74.97%; }

  .separador-m9 {
    margin-left: 74.97%; }

  .m10 {
    width: 83.3%; }

  .separador-m10 {
    margin-left: 83.3%; }

  .m11 {
    width: 91.63%; }

  .separador-m11 {
    margin-left: 91.63%; }

  .m12 {
    width: 99.96%; }

  .separador-m12 {
    margin-left: 99.96%; } }
@media screen and (min-width: 1024px) {
  .l1 {
    width: 8.33%; }

  .separador-l1 {
    margin-left: 8.33%; }

  .l2 {
    width: 16.66%; }

  .separador-l2 {
    margin-left: 16.66%; }

  .l3 {
    width: 24.99%; }

   .l3u{
     width: 23.99%; }

   .l3u2{
      width: 27%;
    }


  .separador-l3 {
    margin-left: 24.99%; }

  .l4 {
    width: 33.32%; }

  .separador-l4 {
    margin-left: 33.32%; }

  .l5 {
    width: 41.65%; }

  .separador-l5 {
    margin-left: 41.65%; }

  .l6 {
    width: 49.98%; }

  .separador-l6 {
    margin-left: 49.98%; }

  .l7 {
    width: 58.31%; }

  .separador-l7 {
    margin-left: 58.31%; }

  .l8 {
    width: 66.64%; }

  .separador-l8 {
    margin-left: 66.64%; }

  .l9 {
    width: 74.97%; }

  .separador-l9 {
    margin-left: 74.97%; }

  .l10 {
    width: 83.3%; }

  .separador-l10 {
    margin-left: 83.3%; }

  .l11 {
    width: 91.63%; }

  .separador-l11 {
    margin-left: 91.63%; }

  .l12 {
    width: 99.96%; }

  .separador-l12 {
    margin-left: 99.96%; } }
@media screen and (min-width: 1280px) {
  .xl1 {
    width: 8.33%; }

  .separador-xl1 {
    margin-left: 8.33%; }

  .xl2 {
    width: 16.66%; }

  .separador-xl2 {
    margin-left: 16.66%; }

  .xl3 {
    width: 24.99%; }

  .separador-xl3 {
    margin-left: 24.99%; }

  .xl4 {
    width: 33.32%; }

  .separador-xl4 {
    margin-left: 33.32%; }

  .xl5 {
    width: 41.65%; }

  .separador-xl5 {
    margin-left: 41.65%; }

  .xl6 {
    width: 49.98%; }

  .separador-xl6 {
    margin-left: 49.98%; }

  .xl7 {
    width: 58.31%; }

  .separador-xl7 {
    margin-left: 58.31%; }

  .xl8 {
    width: 66.64%; }

  .separador-xl8 {
    margin-left: 66.64%; }

  .xl9 {
    width: 74.97%; }

  .separador-xl9 {
    margin-left: 74.97%; }

  .xl10 {
    width: 83.3%; }

  .separador-xl10 {
    margin-left: 83.3%; }

  .xl11 {
    width: 91.63%; }

  .separador-xl11 {
    margin-left: 91.63%; }

  .xl12 {
    width: 99.96%; }

  .separador-xl12 {
    margin-left: 99.96%; } }
